@model Library.Domain.Entity.Details

@{
    ViewBag.Title = "Заказ обработан";
}
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Спасибо!</h2>
<p>Заказ будет подготовлен к указанному времени. Вы сможетет забрать его в библиотеке.</p>